@model IEnumerable<Post>

@{
    int b = 0;
}

@foreach(var a in Model)
{
   <div id="post">
        <h1>Postuje: @a.Name</h1>
        <h2>Tytuł: @a.Title</h2>
        <h3><img src="~/images/@a.File" style="height: 9rem; width: 15rem" class="rounded" /></h3>
        @Html.ActionLink("Dyskusja", "Discussion", new { id = a.Id })
   </div>
   


}

