body 
{
    background-color: white;
}

.break
{
    clear:both;
}

#header
{

}

#post
{
    background-color: white;
    margin: 10px;
    border: 2px black;
}

#left_post
{
    background-color: lightgray;
}

#right_post
{
    background-color: gray;
}

.form_add
{
    display: none;
}

#form_add 
{
    display: none;
}

.custom-link {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: inherit; /* Dziedziczenie koloru tekstu */
    cursor: pointer; /* Zmiana kursora na strzałkę, aby sugerować interaktywność */
}