body 
{
    background-color: white;
}

.break
{
    clear:both;
}

#header
{

}

#post
{
    background-color: white;
    margin: 10px;
    border: 2px black;
}

#left_post
{
    background-color: lightgray;
}

#right_post
{
    background-color: gray;
}